*{
  font-family: 'Anton', sans-serif;
  color: black;
}

html{
  height: 100vh;
  width: 100vw;
}

header{
  background-color: pink;
  height: 16vh;
  background-color: #b5e48c;
}

/*makes images all the same size*/
img{
  height: 350px;
  width: 300px;
}

/*moves tagline and fish icon to where it needs to be in header*/
/* h1{ */
  /* padding-bottom: 4vh; */
/* } */

/*moves admin/guest box to far right*/
/*also moves user icon because icon is a child of user-menu*/
.user-menu{
    display: flex;
    justify-content: flex-end;
    height: 15%;
  }

/*shares, fish list, favorites*/
.header-options{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 4vh;
}

/*moves list items to where they need to be in nav*/
/*list style type removes dots next to words*/
.list-items{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-top: 5vh;
  list-style-type: none;
}

/*adds space between shares, fish list, favorites*/
.option{
  /* padding-right: 3vh; */
  margin-left: 2vh;
  margin-right: 2vh;
}

/*centers user icon next to drop down box*/
.fa-circle-user{
  padding: 5px;
  /* color:  #d9ed92; */
}

/*centers fish icon next to tagline*/
.fa-music{
  padding:1vh;
}

.card{
  /* background-color: #d9ed92; */
  /* border-radius: 5px; */
}
